.name {
  width: 50%;
}

#content {
  background: url('./images/bgd_image.jpg') no-repeat center center;
  background-size: cover;
}

li {
  list-style: none;
}

.advert {
  height: 500px;
  filter: opacity(0.8);
}

.img {
  height: 200px;
  margin-top: 5rem;
}

.sample {
  height: 100%;
  border-radius: 50%;
}

.foot {
  height: 50px;
}

.image-item {
  height: 100px;
  width: 100px;
}

.row {
  filter: opacity(0.8);
  width: 50%;
}

.item {
  opacity: 0.3;
}

a:active {
  color: blue;
}

.contact {
  height: 80vh;
}
